.community {
  background-color: #000;
  height: 80rem;
  overflow: hidden;

  &-container {
    display: flex;
  }

  &-left {
    padding-top: 20rem;
    max-width: 46rem;
    margin-right: 10rem;
    @include maxw(1084) {
      padding-top: 5rem;
    }
  }

  &-right {
    position: relative;
  }

  &-tertiary {
    margin-bottom: 2.58rem;
  }

  &-text {
    margin-bottom: 2.68rem;
  }
}
