.get-started {
  padding-top: 13.8rem;
  text-align: center;
  @include maxw(1248) {
    padding: 1.6rem;
  }

  &-form.subscribe-form {
    margin-top: 4.66rem;
    margin-bottom: 12rem;
  }

  &-social {
    display: flex;

    width: 11.7rem;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 2.8rem;
  }

  &-icon {
    cursor: pointer;
    opacity: 0.2;
    transition: all 0.2s;
    &:hover {
      opacity: 1;
    }
  }
}
