.header {
  position: relative;

  &-container {
    display: flex;
    @include maxw(1084) {
      flex-direction: column;
      align-items: center;
    }
  }
  &-background {
    position: absolute;
    z-index: -1;
    &--1 {
      top: 0;
      right: 0;
    }
    &--2 {
      bottom: 0;
      left: 0;
      transform: translateY(25%);
    }
  }

  &-left {
    margin-top: 19.4rem;
    margin-right: 12.3rem;
    max-width: 57rem;

    @include maxw(1084) {
      text-align: center;
      margin-right: 0;
    }
  }

  &-right {
    margin-top: 8.5rem;
  }

  &-primary {
  }
  &-secondary {
    margin-top: 2.94rem;
    max-width: 47.1rem;

    @include maxw(1084) {
      margin: 0 auto;
      margin-top: 2.94rem;
    }
  }
  &-form {
    margin-top: 2.56rem;

    @include maxw(1084) {
      margin: 0 auto;
      margin-top: 2.56rem;
    }
  }
}

.compatible-with {
  margin-top: 13rem;
  &__text {
    text-transform: uppercase;
    color: #979797;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
  }

  &__shield {
    opacity: 0.3;
    display: flex;
    padding: 0;
  }

  &__icon {
    margin-right: 3.75rem;
  }
}
