.interfaces {
  position: relative;

  &-background {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    @include maxw(1084) {
      display: none;
    }
  }

  &-container {
    display: flex;
    margin-bottom: 14rem;
    @include maxw(1084) {
      flex-direction: column;
      align-items: center;
    }
  }

  &-left {
    max-width: 46rem;
    margin-top: 7.7rem;
    @include maxw(1084) {
      margin-top: 0;
    }
  }
  &-right {
    margin-left: 10rem;
    @include maxw(1084) {
      margin-left: 0;
    }
  }

  &-tab {
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 4px;
    padding: 1.7rem;
    padding-left: 1.8rem;
    opacity: 0.5;
    cursor: pointer;
    outline: none;

    img {
      margin-right: 1.6rem;
      vertical-align: -4px;
    }

    span {
    }

    &--active {
      box-shadow: 0 1px 3px #97979734;
      opacity: 1;
    }
  }

  &-phone-img {
    margin-top: 15.4rem;
    width: 26.5rem;
  }
}
