.btn {
  cursor: pointer;
  border: none;
  white-space: nowrap;
  a {
    color: #fff;
  }

  &:hover {
    background-color: $btn-color-hover;
  }
  &-primary {
    background-color: $btn-color;
    color: #fff;
    font-weight: 600;
    font-size: 1.4rem;
    padding: 0.8rem 1.8rem;
    border-radius: 4px;
    transition: background-color 0.2s;
  }

  &-community {
    padding: 1rem 2.5rem;
  }

  &-cta {
    box-shadow: 0 2px 4px #3c09b354;
  }
}
