*,
*:before,
*:after {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: #000;
}

ul {
  padding: 0;
}

section,
header {
  @include maxw(600) {
    padding: 1.6rem;
  }
}

.container {
  width: 80%;
  max-width: 110.8rem;
  margin: 0 auto;

  @include maxw(600) {
    width: 100%;
  }
}
.container-nav {
  width: 80%;
  max-width: 110.8rem;
  margin: 0 auto;
}

.section {
  &__heading-box {
    max-width: 61rem;
    margin: 0 auto;
  }
}
