.logo-font {
  font-weight: bold;
  font-size: 1.8rem;
  & span {
    color: $btn-color;
  }
}

.nav-link {
  font-size: 1.4rem;
}

.heading {
  &-light {
    font-weight: 300;
    font-size: 1.8rem;
  }
  &-primary {
    margin: 0;
    line-height: 7.2rem;
    font-size: 7rem;
    font-weight: 900;
  }

  &-secondary {
    margin: 0;
    line-height: 6rem;
    font-size: 6.3rem;
    font-weight: 900;
  }
}

.text {
  font-weight: 400;
  font-size: 2.1rem;
  line-height: 3.2rem;
}

.header-text {
  margin: 0;
  line-height: 3.2rem;
  font-size: 2.1rem;
  font-weight: 300;
}

.feature {
  &-heading {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
    margin-top: 1.4rem;
  }

  &-text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    margin: 0;
    margin-top: 1.04rem;
    margin-bottom: 1rem;
  }

  &-link {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 500;

    color: $btn-color;
    & span {
    }
    & img {
      vertical-align: -1px;
    }
  }
}
